/* Skills.css */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .skill-card {
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .skill-icon {
    font-size: 6rem;
    transition: color 0.3s ease;
  }
  
  .skill-card:hover .skill-icon {
    color: #0e76a8; /* Change to a highlight color */
  }
  